/* NAV BAR */
.navbar-div {
    background-color: #076aa7;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 31px; /* fix later */
        display: flex;
        align-items: center;
        padding: 3px 0 7px;
}

.navbar-div * {
    display: inline;
}

.navbar-list-div {
    width: 100%;
    padding: 0 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid white; */
    /* margin-top: 2px; */
}

.navbar-list-div li {
    margin: 0 10px;
    color: white;
}

.title-div {
    display: flex;
    flex-direction: row;
}

.logo {
    height: 28px;
    border-radius: 4px;
    margin: 0 10px;
}
.navbar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 31px;
    width: 12%;
    margin-left: 0;
    /* border: 1px solid red; */
}

/* .navbar-left h3 {
    cursor: pointer;
} */

/* .navbar-icon {
    border: 1px solid red;
    
} */

.navbar-right {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 8%;
    height: 31px;
    
}

.user-circle {
    border: 1px solid transparent;
    background-color: #fd991f;
    border-radius: 50%;
    padding: 10px;
    width: 8px;
    height: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 2px; */
}

.logout-link {
    /* border: 1px solid red; */
    text-decoration: none;
    color: white;
    font-size: 1.25em;
}

/* WORKSPACE LEFT BAR */
.workspace-root {
    border: 1px solid #dadde2;
    background-color: #fafbfc;
    margin-top: 15px; /* fix later */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    min-width: 260px;
    width: 260px;
    padding: 30px 0 10px;
}

.workspace-title-div {
    border-bottom: 1px solid #dadde2;
}

.workspace-title {
    margin-top: 5px;
    margin-left: 50px;
}

.workspace-board-list {
    margin-left: 10px;
}

.your-boards {
    margin-right: 10px;
}

.workspace-add-btn {
    float: right;
}

/* .boards-list-div {
    margin-left: 0;
} */

.workspace-board-item {
    list-style-type: none;
    /* margin: 10px; */
}

.workspace-board-item:hover {
    background-color: lightgrey;
}

.boards-list-div {
    padding: 0;
}

.board-item-div {
    padding: 10px;
    /* width: 100%; */
}

.settings-btn {
    height: 25px;
    width: 25px;
    float: right;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    /* visibility: hidden; */
}

.settings-btn:hover {
    visibility: visible;
    background-color: grey;
}

.board-settings {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-items: flex-end;
}

.board-edit-div {
    margin-top: 10px;
}

.board-settings-btns {
    float: right;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    padding: 5px 0;
}

.delete-btn {
    /* border: 1px solid red; */
    align-self: flex-end;
    width: fit-content;
    color: red !important;
}

.edit-form {
    display: flex;
    flex-direction: column;
}

.edit-title {
    align-self: center;
}

.edit-form-div {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    /* width: 40%; */
    align-items: flex-start;
}

.edit-name {
    margin-bottom: 0;
    font-weight: 700;
}

.submit-btn {
    background-color: #0979c0;
    color: white;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    padding: 15px 0;
}

/* BOARD INDEX (DEFAULT BOARD VIEW) */
.board-index-div {
    margin-top: 31px;
    width: 100%;
}

.board-index-header {
    margin-left: 20px;
}

.board-index-item-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.board-index-item {
    list-style-type: none;
    /* border: 1px solid red; */
    background-color: #0979c0;
    color: white;
    border-radius: 5px;
    width: 340px;
    height: 136px;
    /* padding-bottom: 5px; */
    margin: 10px;
    opacity: 0.90;
}

.board-index-expand {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 10px;
    
}

.board-index-item:hover {
    opacity: 1;
}

.add-board-modal-div {
    list-style-type: none;
}

.add-board-btn {
    cursor: pointer;
    list-style-type: none;
    background-color: #f5f6f8;
    border-radius: 5px;
    width: 300px;
    height: 96px;
    padding: 20px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* opacity: 0.80; */
}

.add-board-btn:hover {
    background-color: lightgrey;
}

.add-board-text {
    font-weight: 400;
    margin: 0;
    /* align-self: center;
    justify-self: center; */
}

.add-board-modal {
    display: flex;
    flex-direction: column;
    /* width: 300px; */
}

.add-board-modal img {
    border-top: 1px solid #dfe2e6;
    padding-top: 10px;
    /* margin-top: 20px; */
    /* height: 150px;
    width: 150px; */
    align-self: center;
}

.create-board-heading {
    align-self: center;
    padding-bottom: 20px;
    margin: 0;
    font-weight: 500;
}

.add-board-title {
    margin: 20px 0 0 0;
    color: #5e6c84;
    font-weight: 600;
}

.add-board-title span {
    color: red;
}

.add-board-form {
    display: flex;
    flex-direction: column;
}

.add-modal-text {
    align-self: flex-start;
    margin-bottom: 20px;
}

/* BOARDVIEW (EACH BOARD WITH LISTS) */
.boardview-div {
    margin-top: 31px;
    padding-left: 20px;
    background-color: #0979c0;
    width: 100%;
    /* height: 100%; */
    color: white;
}

.list-card-wrapper {
    /* border: 1px solid red; */
    background-color: #ebecf0;
    border-radius: 5px;
}

.list-item-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.list-item-div {
    list-style-type: none;
    /* border: 1px solid red; */
    background-color: #ebecf0;
    color: #172c4e;
    border-radius: 5px;
    width: 272px;
    height: 78px;
    /* padding-bottom: 5px; */
    margin: 10px;

}

.list-title-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.list-title {
    margin: 0;
}

.list-settings-btn {
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.list-settings-div {
    /* border: 1px solid red; */
    box-shadow: 2px 2px 5px grey;
    background-color: white;
    z-index: 2;
    position: absolute;
    border-radius: 5px;
    /* display: flex; */
    /* flex-direction: column; */
}

.list-icon-span {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.list-settings-icon {
    /* border: 1px solid red; */
    width: fit-content;
    margin: 10px;
}

.list-edit-form {
    margin: 0 8px 8px 8px;
}


.add-list-div {
    list-style-type: none;
    /* border: 1px solid red; */
    background-color: #4099cf;
    color: white;
    border-radius: 5px;
    width: 264px;
    height: 32px;
    /* padding-bottom: 5px; */
    margin: 10px;
    cursor: pointer;
}

.add-list-li {
    list-style-type: none;
}

.add-list-form-div {
    list-style-type: none;
    /* border: 1px solid red; */
    background-color: #ebecf0;
    color: #172c4e;
    border-radius: 5px;
    width: 272px;
    height: 78px;
    /* padding-bottom: 5px; */
    margin: 10px;
}

.add-list-div {
    padding-left: 15px;
}

.add-list-div p {
    padding: 5px 0;
}

.add-list-form{ 
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.add-list-input {
    width: 100%;
    height: 30%;
    margin: 5px;
}

.add-list-btn {
    color: white;
    background-color: #0979c0;
    margin: 0 5px 5px 5px;
    border-radius: 3px;
    /* background: none; */
    border: none;
    padding: 5px 15px;
    cursor: pointer;
}

.add-list-esc {
    margin-left: 5px;
    margin-top: 3px; 
    cursor: pointer;
}

/* CARDS */
.card-ul-div {
    padding-left: 10px;
}

.card-item-div {
    list-style-type: none;
    background-color: #ffffff;
    width: 95%;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    padding: 1%;
    border-radius: 5px;
    box-shadow: 0 1px 0 grey;
    margin-bottom: 15px;
}

.card-item {
    padding: 5px 10px;
    /* border: 1px solid red; */
    width: 90%;
}


.card-title {
    margin-top: 0;
}
